extends layout
block content
  .row
    .col-md-10
      form.form-horizontal
        .panel.panel-default 
          .panel-body
            .row
              .col-md-6
                .form-group
                  .col-md-9
                    .input-group
                      span.input-group-addon
                        span.fa.fa-pencil
                      input.form-control(type='text')
                    span.help-block This is sample of text field
                  label.control-label أسم الطالب
                .form-group                  
                  .col-md-9.col-xs-12
                    .input-group
                      span.input-group-addon
                        span.fa.fa-pencil
                      input.form-control(type='text')
                    span.help-block Password field sample
                  label.control-label أسم الام 
                .form-group                  
                  .col-md-9.col-xs-12
                    .input-group
                      span.input-group-addon
                        span.fa.fa-pencil
                      input.form-control(type='number')
                    span.help-block Password field sample
                  label.control-label رقم الهاتف  
                .form-group                 
                  .col-md-9
                    .input-group
                      span.input-group-addon
                        span.fa.fa-calendar
                      input.form-control.datepicker(type='date', value='2014-11-01')
                    span.help-block Click on input field to get datepicke  
                  label.control-label تاريخ الميﻻد  
                .form-group
                  .col-md-9.col-xs-12
                    .input-group
                      span.input-group-addon
                        span.fa.fa-pencil
                      input.form-control(type='text')
                    span.help-block Password field sample
                  label.control-label مكان الميﻻد
                .form-group
                  
                  .col-md-9
                    input#filename.fileinput.btn-primary(type='file', name='filename', title='Browse file')
                    span.help-block Input type file
                  label.control-label File  
              .col-md-6
                  
                .form-group
                  .col-md-9
                    .input-group
                      span.input-group-addon
                        span.fa.fa-pencil
                      input.form-control(type='text')
                    span.help-block This is sample of text field
                  label.control-label رقم ورقة العائلة
                .form-group                  
                  .col-md-9.col-xs-12
                    .input-group
                      span.input-group-addon
                        span.fa.fa-pencil
                      input.form-control(type='text')
                    span.help-block Password field sample
                  label.control-label رقم قيد العائلة
                .form-group                  
                  .col-md-9.col-xs-12
                    .input-group
                      span.input-group-addon
                        span.fa.fa-pencil
                      input.form-control(type='text')
                    span.help-block Password field sample
                  label.control-label عنوان الاقامة 
                .form-group                  
                  .col-md-9.col-xs-12
                    .input-group
                      span.input-group-addon
                        span.fa.fa-pencil
                      input.form-control(type='text')
                    span.help-block Password field sample
                  label.control-label السجل المدني  
                .form-group   
                  .col-md-9
                    select.form-control.select
                      option Option 1
                      option Option 2
                      option Option 3
                      option Option 4
                      option Option 5
                    span.help-block Select box example
                  label.control-label الجنسية  
                .form-group
                  
                  .col-md-9
                    label.check
                      input.icheckbox(type='radio', checked='checked')
                      |  ذكر
                    label.check
                      input.icheckbox(type='radio')
                      |  أنثى  
                    span.help-block Checkbox sample, easy to use
                  label.control-label الجنس 
          .panel-footer
            button.btn.btn-default Clear Form
            button.btn.btn-primary.pull-right Submit 


  // START SCRIPTS
  // START PLUGINS
  script(type='text/javascript', src='/js/plugins/jquery/jquery.min.js')
  script(type='text/javascript', src='/js/plugins/jquery/jquery-ui.min.js')
  script(type='text/javascript', src='/js/plugins/bootstrap/bootstrap.min.js')
  script(type='text/javascript', src='/js/settings.js')
  script(type='text/javascript', src='/js/plugins.js')
  script(type='text/javascript', src='/js/actions.js')  
