extends layout
block content
  .page-inner
    .page-title#page-title
      h3 لوحة التحكم
      .page-breadcrumb
        ol.breadcrumb
          li
            a(href="/") الرئيسية
          li.active لوحة التحكم
    #main-wrapper
      .row
    // Main Wrapper
    .page-footer
      p.no-s .كافة الحقوق محفوظه 2015 &#169; ادارة المعاهد العليا قسم التوثيق والمعلومات
  // Page Inner
  // Page Content
  nav#cd-nav.cd-nav-container
    header
      h3 Navigation
      a.cd-close-nav(href="#0") Close
    ul.cd-nav.list-unstyled
      li.cd-selected(data-menu="index")
        a(href="javsacript:void(0);")
          span
            i.glyphicon.glyphicon-home
          p Dashboard
      li(data-menu="profile")
        a(href="javsacript:void(0);")
          span
            i.glyphicon.glyphicon-user
          p Profile
      li(data-menu="inbox")
        a(href="javsacript:void(0);")
          span
            i.glyphicon.glyphicon-envelope
          p Mailbox
      li(data-menu="#")
        a(href="javsacript:void(0);")
          span
            i.glyphicon.glyphicon-tasks
          p Tasks
      li(data-menu="#")
        a(href="javsacript:void(0);")
          span
            i.glyphicon.glyphicon-cog
          p Settings
      li(data-menu="calendar")
        a(href="javsacript:void(0);")
          span
            i.glyphicon.glyphicon-calendar
          p Calendar
  .cd-overlay
  // Javascripts
  script(src="/plugins/jquery/jquery-2.1.3.min.js")
  script(src="/plugins/jquery-ui/jquery-ui.min.js")
  script(src="/plugins/pace-master/pace.min.js")
  script(src="/plugins/jquery-blockui/jquery.blockui.js")
  script(src="/plugins/bootstrap/js/bootstrap.min.js")
  script(src="/plugins/jquery-slimscroll/jquery.slimscroll.min.js")
  script(src="/plugins/switchery/switchery.min.js")
  script(src="/plugins/uniform/jquery.uniform.min.js")
  script(src="/plugins/offcanvasmenueffects/js/classie.js")
  script(src="/plugins/offcanvasmenueffects/js/main.js")
  script(src="/plugins/waves/waves.min.js")
  script(src="/plugins/3d-bold-navigation/js/main.js")
  script(src="/js/modern.min.js")