extends layout
block content
  // START SCRIPTS
  // START PLUGINS
  script(type='text/javascript', src='/js/plugins/jquery/jquery.min.js')
  script(type='text/javascript', src='/js/plugins/jquery/jquery-ui.min.js')
  script(type='text/javascript', src='/js/plugins/bootstrap/bootstrap.min.js')
  // END PLUGINS
  // THIS PAGE PLUGINS
  script(type='text/javascript', src='/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js')
  // END PAGE PLUGINS
  // START TEMPLATE
  script(type='text/javascript', src='/js/plugins.js')
  script(type='text/javascript', src='/js/actions.js')
  // END TEMPLATE
  // END SCRIPTS
  