/*style for change dashboard from right to left*/
.page-header-fixed .page-sidebar {
  float: right;
}

.page-breadcrumb ol.breadcrumb {
  direction: rtl;
  float: right;
}
#page-title {
  direction: rtl;
}
/*style for change navbar from right to left*/
.no-s {
  /* direction: rtl; */
  float: right;
}
.navbar .logo-box {
  float: right;
}
.topmenu-outer {
  margin-left: 0px;
}
.search-form .input-group {
  direction: rtl;
}
.navbar .open .dropdown-menu {
  text-align: right;
  direction: rtl;
}
.cbp-spmenu-right.cbp-spmenu-open {
  left: 0px;
}